name: Analyse SonarQube Latest

on:
  push:
    branches: ['main', 'develop']
  pull_request:
    branches: ['main', 'develop']

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  sonarqube:
    runs-on: ubuntu-latest    
    services:
      azuresql:
        image: mcr.microsoft.com/azure-sql-edge
        ports:
          - 1433:1433
        env:
          ACCEPT_EULA: 1
          MSSQL_SA_PASSWORD: ${{ secrets.TEST_TENANT_PASSWORD }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  
      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with: 
          dotnet-version: 
            8.0          
      - name: Wait for database to start
        run: |
          sleep 30          
      - name: Detect database container id
        run: |
          SQLEDGE_CONTAINER_ID=$(docker ps -q --filter "name=azuresql")
          echo "Container ID: $SQLEDGE_CONTAINER_ID"
          echo "SQLEDGE_CONTAINER_ID=$SQLEDGE_CONTAINER_ID" >> $GITHUB_ENV
          
      - name: Run database initialization script
        run: | 
          docker exec ${{ env.SQLEDGE_CONTAINER_ID }} /opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P ${{ secrets.TEST_TENANT_PASSWORD }} -Q "CREATE DATABASE tenant;"
          
      - name: Download and extract dotCover CLI
        run: |
          curl -L -o dotcover.tar.gz "https://download.jetbrains.com/resharper/dotUltimate.2025.1.2/JetBrains.dotCover.CommandLineTools.2025.1.2.tar.gz"
          mkdir dotcover
          tar -xzf dotcover.tar.gz -C dotcover
          
      - name: Install SonarQube
        run: dotnet tool install --global dotnet-sonarscanner
        
      - name: Start SonarQube scan
        run: dotnet sonarscanner begin \ 
          /k:"ballware_ballware-generic-service" \
          /o:"ballware" \
          /d:sonar.token="${{ secrets.SONAR_TOKEN }}" \
          /d:sonar.cs.dotcover.reportsPaths="coverage.html"
        
      - name: Build solution
        run: dotnet build ballware-generic-service.sln --no-incremental --configuration Release

      - name: Run coverage for all test projects
        run: |
          mkdir -p coverage
          export ConnectionStrings__TenantConnection='${{ secrets.TEST_TENANT_CONNECTIONSTRING }}'
          i=0
          find ./test -name '*.Tests.csproj' | while read project; do
            echo "Running coverage for: $project"
            dotnet dotcover/dotCover.dll cover \
              --targetExecutable="/usr/bin/dotnet" \
              --targetArguments="test $project --configuration Release --logger trx" \
              --output="coverage/project_$i.dcvr" \
              --returnTargetExitCode
            ((i=i+1))
          done

      - name: Merge coverage snapshots
        run: |
          snapshots=$(find coverage -name '*.dcvr' | paste -sd ';' -)
          dotnet dotcover/dotCover.dll merge \
            --source="$snapshots" \
            --output="coverage.dcvr"
          
      - name: Generate HTML report for SonarCloud
        run: |
          dotnet dotcover/dotCover.dll report \
            --source="coverage.dcvr" \
            --output="coverage.html" \
            --reportType=HTML           
        
      - name: End SonarQube scan
        run: dotnet sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}" 
